html, body{
	margin: 0px;
	padding: 0px;
	height: 100vh;
	width: 100vw;
}

#all{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left{
	display: flex;
	flex-direction: column;
}

.bt{
	display: flex;
	flex-direction: row;
}