* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }

#all{
	width: 100%;
	height: 200%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 90%;
	background-color: green;
	justify-content: space-between;
}

.left{
	width: 40%;
	display: flex;
	flex-direction: column;
}

.bt{
	display: flex;
	flex-direction: row;
}

.section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 40%;
	background-color: grey; 
}

.img{
	margin-right: 5%;
	align-self: center;
	height: 80%;
	width: 40%;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/VAN_CAT.png/800px-VAN_CAT.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;			
}